body {background-color:#343a9a;}

#header {background:url(../images/theme/office/bg/header.jpg);width:800px;height:387px;position:relative;top:-400px;-webkit-transition: all .5s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out; -ms-transition: all .1s ease-in-out;}
#shindo {width:65px;height:25px;position:absolute;top:35px;left:35px;}
#shindo_p {background:url(../images/resources/chibi/shindo.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:118px;height:192px;display:none;}
#lim {width:45px;height:25px;position:absolute;top:35px;left:110px;}
#lim_p {background:url(../images/resources/chibi/lim.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:147px;height:192px;display:none;}
#lagman {width:50px;height:25px;position:absolute;top:35px;left:170px;}
#lagman_p {background:url(../images/resources/chibi/lagman.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:137px;height:192px;display:none;}
#navia {width:35px;height:70px;position:absolute;top:75px;left:110px;}
#navia_p {background:url(../images/resources/chibi/navia.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:127px;height:192px;display:none;}
#avendano {width:25px;height:50px;position:absolute;top:155px;left:110px;}
#avendano_p {background:url(../images/resources/chibi/avendano.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:164px;height:192px;display:none;}
#vicedo {width:25px;height:50px;position:absolute;top:215px;left:110px;}
#vicedo_p {background:url(../images/resources/chibi/vicedo.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:113px;height:192px;display:none;}
#silvestre {width:30px;height:55px;position:absolute;top:25px;left:240px;}
#silvestre_p {background:url(../images/resources/chibi/silvestre.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:125px;height:192px;display:none;}
#alimon {width:30px;height:110px;position:absolute;top:95px;left:235px;}
#alimon_p {background:url(../images/resources/chibi/alimon.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:180px;height:192px;display:none;}
#de_guzman {width:30px;height:40px;position:absolute;top:225px;left:235px;}
#de_guzman_p {background:url(../images/resources/chibi/de_guzman.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:128px;height:192px;display:none;}
#alday {width:65px;height:25px;position:absolute;top:25px;left:280px;}
#alday_p {background:url(../images/resources/chibi/alday.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:119px;height:192px;display:none;}
#boces {width:70px;height:25px;position:absolute;top:135px;left:270px;}
#boces_p {background:url(../images/resources/chibi/boces.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:142px;height:192px;display:none;}
#estandante {width:40px;height:100px;position:absolute;top:35px;left:350px;}
#estandante_p {background:url(../images/resources/chibi/estandante.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:124px;height:192px;display:none;}
#roxas {width:45px;height:105px;position:absolute;top:150px;left:350px;}
#roxas_p {background:url(../images/resources/chibi/roxas.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:141px;height:192px;display:none;}
#guevarra {width:45px;height:35px;position:absolute;top:20px;left:440px;}
#guevarra_p {background:url(../images/resources/chibi/guevarra.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:191px;height:192px;display:none;}
#lagajino {width:45px;height:75px;position:absolute;top:160px;left:400px;}
#lagajino_p {background:url(../images/resources/chibi/lagajino.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:137px;height:192px;display:none;}
#langrio {width:30px;height:30px;position:absolute;top:230px;left:450px;}
#langrio_p {background:url(../images/resources/chibi/langrio.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:100px;height:192px;display:none;}
#arde {width:50px;height:110px;position:absolute;top:30px;left:505px;}
#arde_p {background:url(../images/resources/chibi/arde.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:127px;height:192px;display:none;}
#abrera {width:40px;height:65px;position:absolute;top:170px;left:505px;}
#abrera_p {background:url(../images/resources/chibi/abrera.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:131px;height:192px;display:none;}
#josef {width:30px;height:90px;position:absolute;top:50px;left:555px;}
#josef_p {background:url(../images/resources/chibi/josef.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:119px;height:192px;display:none;}
#espinosa {width:30px;height:90px;position:absolute;top:0px;left:600px;-webkit-transform: rotate(-70deg);-moz-transform: rotate(-70deg);-o-transform: rotate(-70deg);-ms-transform: rotate(-70deg)}
#espinosa_p {background:url(../images/resources/chibi/espinosa.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:115px;height:192px;display:none;-webkit-transform: rotate(70deg);-moz-transform: rotate(70deg);-o-transform: rotate(70deg);-ms-transform: rotate(70deg);position:absolute;right:50%;}
#bautista {width:30px;height:110px;position:absolute;top:85px;left:610px;-webkit-transform: rotate(40deg);-moz-transform: rotate(40deg);-o-transform: rotate(40deg);-ms-transform: rotate(40deg);}
#bautista_p {background:url(../images/resources/chibi/bautista.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:98px;height:192px;display:none;-webkit-transform: rotate(-40deg);-moz-transform: rotate(-40deg);-o-transform: rotate(-40deg);-ms-transform: rotate(-40deg);}
#eleponga {width:30px;height:100px;position:absolute;top:160px;left:555px;}
#eleponga_p {background:url(../images/resources/chibi/eleponga.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:130px;height:192px;display:none;}
#afable {width:30px;height:65px;position:absolute;top:13px;left:670px;-webkit-transform: rotate(20deg);-moz-transform: rotate(20deg);-o-transform: rotate(-20deg);-ms-transform: rotate(20deg)}
#afable_p {background:url(../images/resources/chibi/afable.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:155px;height:192px;display:none;-webkit-transform: rotate(-20deg);-moz-transform: rotate(-20deg);-o-transform: rotate(-20deg);-ms-transform: rotate(-20deg);}
#raquel {width:30px;height:90px;position:absolute;top:90px;left:650px;-webkit-transform: rotate(13deg);-moz-transform: rotate(13deg);-o-transform: rotate(13deg);-ms-transform: rotate(13deg)}
#raquel_p {background:url(../images/resources/chibi/raquel.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:175px;height:192px;display:none;-webkit-transform: rotate(-13deg);-moz-transform: rotate(-13eg);-o-transform: rotate(-13deg);-ms-transform: rotate(-13deg);}
#nakahama {width:30px;height:65px;position:absolute;top:205px;left:640px;-webkit-transform: rotate(10deg);-moz-transform: rotate(20deg);-o-transform: rotate(-20deg);-ms-transform: rotate(20deg)}
#nakahama_p {background:url(../images/resources/chibi/nakahama.jpg);background-color:#c7c9ef;border:3px solid #343a9a;width:125px;height:192px;display:none;-webkit-transform: rotate(-10deg);-moz-transform: rotate(-20deg);-o-transform: rotate(-20deg);-ms-transform: rotate(-20deg);}


#shindo:hover #shindo_p {display:block;}
#lim:hover #lim_p {display:block;}
#lagman:hover #lagman_p {display:block;}
#navia:hover #navia_p {display:block;}
#avendano:hover #avendano_p {display:block;}
#vicedo:hover #vicedo_p {display:block;}
#silvestre:hover #silvestre_p {display:block;}
#alimon:hover #alimon_p {display:block;}
#de_guzman:hover #de_guzman_p {display:block;}
#alday:hover #alday_p {display:block;}
#boces:hover #boces_p {display:block;}
#estandante:hover #estandante_p {display:block;}
#roxas:hover #roxas_p {display:block;}
#guevarra:hover #guevarra_p {display:block;}
#lagajino:hover #lagajino_p {display:block;}
#langrio:hover #langrio_p {display:block;}
#arde:hover #arde_p {display:block;}
#abrera:hover #abrera_p {display:block;}
#josef:hover #josef_p {display:block;}
#espinosa:hover #espinosa_p {display:block;}
#bautista:hover #bautista_p {display:block;}
#eleponga:hover #eleponga_p {display:block;}
#afable:hover #afable_p {display:block;}
#raquel:hover #raquel_p {display:block;}
#nakahama:hover #nakahama_p {display:block;}

#enter_site {position:absolute;bottom:50px;right:50px;font-size:25px;font-family:trebuchet ms;color:#343a9a;font-weight:bold;padding:2px;-webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out; -ms-transition: all .1s ease-in-out;-webkit-transform: rotate(10deg);-moz-transform: rotate(20deg);-o-transform: rotate(-20deg);-ms-transform: rotate(20deg);}
#enter_site:hover {-webkit-transform: rotate(-10deg);-moz-transform: rotate(-20deg);-o-transform: rotate(-20deg);-ms-transform: rotate(-20deg);}

a.enter_site {color:#343a9a;text-decoration:none;}
a.juvarabrera {color:#0c104b;text-decoration:none;font-weight:bold;}
#footer {font-size:13px;font-family:trebuchet ms;color:#0c104b;padding:10px;width:800px;position:absolute;bottom:-50px;}

#header:hover {-webkit-transform: translate(0px,277px); -moz-transform: translate(0px,277px); -o-transform: translate(0px,277px); -ms-transform: translate(0px,277px);}